@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

#header{
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    font-size: 1.115rem;
    color: #477acc;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 30px 30px 30px 50px;
}

.container-title{
    align-self: center;
    border-radius: 7px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #477acc;
    border: none;
    cursor: pointer;
}

.container-title:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.book-body{
    display: grid;
    gap: 75px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(1, 330px);
    justify-content: center;
}

.book-card {
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 20px;
    background: rgb(130,169,255);
    background: linear-gradient(90deg, rgba(130,169,255,1) 25%, rgba(31,149,201,1) 76%);
    color: #eee;
    transition: 0.5 linear;
}

.book-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 50px;
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.book-status{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 7px;
    font-size: 1.125rem;
    border: 2px solid black;
    background-color: #70e670;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #eee;;
}

.delete-btn{
    width: 100%;
    height: 45px;
    font-size: 1.125rem;
    border-radius: 7px;
    border: 2px solid black;
    background-color: #f73b3b;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #eee;
    cursor: pointer;
}

.popup-box{
    position: absolute;
    top: -150%;
    left: 40%;
    opacity: 0;
    transform: translate(-30% -40%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: rgb(130,169,255);
    background: linear-gradient(90deg, rgba(130,169,255,1) 25%, rgba(31,149,201,1) 76%);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup-box.active {
    top:30%;
    opacity: 1;
    transform: translate(-30% -40%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup-box .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: rgba(31,149,201,1);
    color: #eee;
    text-align: center;
    list-style: 15px;
    font-weight: 900;
    cursor: pointer;
}

.popup-box .form h2 {
    text-align: center;
    color: #eee;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup-box .form .form-element {
    margin: 15px 0px;
}

.popup-box .form .form-element label {
    font-size: 14px;
    font-weight: 900;
    color: #eee;
}

.popup-box .form .form-element input[type="text"],
.popup-box .form .form-element input[type="number"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup-box .form .form-element input[type="checkbox"] {
    margin-left: 5px;
}

.popup-box .form .form-element #submit {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #eee;
    color: #477acc;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}